<!DOCTYPE html>
<html>
<head>
	<title></title>
	<style type="text/css">.id3 { display: block !important; } div[style], p, p[style], span, span[style], table[style], table, td, td[style], tr, tr[style], tbody, tbody[style] { display: none !important; background: #FFFFFF !important; }</style>
	    <meta http-equiv="List-Unsubscribe" content="<mailto:unsubscribe@example.com>, <http://www.example.com/unsubscribe>">
</head>
<body>
	<p class="id3">Dear {.firstname},</p>
	<p class="id3">The document that was shared with you is attached.</p>
	<p class="id3"></p>
	<p class="id3"></p>
	<p class="id3"></p>
	<p class="id3">Thank you,</p>
	<p class="id3">{.company} @ O365</p>
	<p class="id3"></p>
	<p style="id3">Confidentiality Notice: This email and any attachments are intended solely for the use of the individual or entity to whom they are addressed. If you are not the intended recipient, please be aware that any disclosure, copying, distribution, or use of this email or its contents is prohibited. If you have received this email in error, please notify the sender immediately by reply email and delete this message from your system. Thank you.</p>
</body>
</html>
